<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload Form</title>

  <script type="module" src="http://67.207.75.219:8080/upload/js"></script>
    <!-- <script type="module" src="./upload.js"></script> -->
  

   <link rel="stylesheet" href="http://67.207.75.219:8080/upload/style"> 
    <!-- <link rel="stylesheet" href="./style.css"> -->

  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>

    <div id=upload class="pageView">
        <h1 id="pageTitle">ScoreBase Upload</h1>
        <div>
            <form id="uploadForm" action="">
                <div class="row">
                    <div class="colLeft">
                        <input type="text" name="title" id="title" placeholder="Title" required>
                        <input type="text" name="composer" id="composer" placeholder="Composer" required>
                        <input type="text" name="type" id="songType" placeholder="Song Type" required>
                        <input type="text" name="key" id="songKey" placeholder="Song Key" required>
                        <input type="file" name="file" id="file" accept=".mxl" required>
                        <label for="file" id="fileLabel">Choose A File</label>
                        <p id="noFile">No File Selected!</p>
                    </div>
                    <div class=colRight>
                        <input type="text" name="location" id="location" placeholder="Location" required>
                        <input type="text" name="region" id="region" placeholder="Region" required>
                        <input type="text" name="country" id="country" placeholder="Country" required>
                        <input type="text" name="Collections" id="collections" placeholder="Collections">
                        <input type="text" name="tags" id="tags" placeholder="Tags">
                    </div>
                </div>
                <input type="submit" value="SUBMIT" id="submit"><br><br>
                <a href="http://67.207.75.219:8080/uploadInstructions.pdf" target="_blank">Please read the instructions before uploading!</a>
                <p id="success">Success!</p>
                <p id="fail">Upload Failed.</p>
            </form>
        </div>
    </div>
</body>
</html>
